
<body>  
    <nav> 
      <div class="nav-container">  
        <div class="logo">
          COFAT
        </div> 
        <div class="links">  
          <div class="link"><a routerLink="/first">ACCUEIL</a></div>  
          <div class="link"><a routerLink="/formulaire">CONDIDAT</a></div>  
          <div class="link"><a href="/admin">ADMINISTRATEUR</a></div>  
          <div class="link"><a href="/mission">NOTRE MISSION</a></div> 
        </div> 
      </div> 
    </nav>   
  
    <router-outlet></router-outlet>  <!-- C'est ici que le formulaire sera affiché -->
    
  </body>
  
  
  