
            <h1>Découvrez votre personnalité</h1>
            <h2>Avec notre test détaillé</h2>
        <section class="info-section">
            <h3>Pourquoi passer ce test ?</h3>
            <p>
                Notre test de personnalité, conçu par des psychologues professionnels, vous permet d'explorer vos traits de caractère, vos émotions, et vos comportements dans différents aspects de la vie. En seulement 45 minutes, vous répondrez à 240 questions pour obtenir une analyse complète et détaillée.
            </p> 
            <a href="/formulaire" class="cta-button">Commencez le Test</a> 
        </section> 
        <div class="info-section">
            <h3>Comment ça fonctionne ?</h3>
            <p>
                1. Remplissez le formulaire rapide pour accéder à la page du test.<br>
                2. Répondez à 240 questions, avec 4 réponses possibles pour chaque.<br>
                3. À la fin, un score global sera calculé et un graphique circulaire affichera la répartition de vos résultats.<br>
                4. Vous recevrez un rapport détaillé rédigé par un psychologue pour mieux comprendre vos résultats.
            </p>
        </div>
    
        <div class="info-section">
            <h3>Ce que vous obtiendrez :</h3>
            <p>
                - Un score détaillé avec des graphiques analysant vos réponses.<br>
                - Un rapport personnalisé sur votre personnalité.<br>
                - Une expérience riche, gratuite, et basée sur des recherches scientifiques.
            </p>
        </div>





        <footer>
            <p>Test proposé par Cofat Elloumigroups | Tunisie</p>
        </footer>

